:root {
    --main-color: rgb(249, 244, 244);
    --wrapper-color: rgb(239, 239, 239);
    --grey-color: rgb(68, 66, 66);
    --white-color: white;
    --orange-coor: rgb(233, 126, 3);

   

}

body {
    background-color: var(--main-color);
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--wrapper-color);
    box-shadow: 6px 6px 20px var(--grey-color);
}

main {
    width: 850px;
}
.myname {
    
    margin: 0;
    padding: 0 40px;
    background-color: var(--grey-color);
    color: var(--white-color);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}


h1 {
    font-size: 60px;
    font-weight: 700;  
    margin: 0 0 20px 0;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    font-weight: 600;
}

h4 {
    color: var(--orange-coor);
    font-size: 22px;
   
}

h5 {
    font-size: 18px;
}

p {
    text-align: justify;
}

.workexperience {
    padding: 0 40px;
    width: 750px;
    
}

.workexperiencelist {
    list-style: none;
    padding: 0;
    font-size: 20px;
   
}

.workexperiencelistli {
    margin-bottom: 20px;
    
    
}

.firm {
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: 20px;
    margin-bottom: 15px;
}

h4, h5 {
    margin: 0;
}
aside {
    background-color: var(--grey-color);
    width: 350px;
    font-size: 18px;
    color: var(--white-color);
}


.skills {
    padding: 0 20px;
}

footer {
    background-color: var(--grey-color);
    color: var(--white-color);
    padding: 20px;
   
}

.listfooter {
    list-style: none;
    padding: 0;
     
}

.listfooterli {
    margin-bottom: 20px;
}

.linkfooter {
    color: var(--white-color);
}
























































