:root {
    --darkblue-color: rgb(19, 19, 32);
    --black-color: black;
    --white-color: white;
    --gray-color: rgb(58, 56, 56);
    --purple-color: rgb(75, 43, 84);
    
}

body {
   
    background-color: var(--white-color);
    color: var(--black-color);
}

aside {
    background-color: var(--darkblue-color);
    color: var(--white-color);
    flex-basis: 370px;
}

.wrapper {
    display: flex;
    gap: 10px;
    flex-grow: 1;
}